site_name: "Pentane Documentation"
plugins:
  - mkdocs-video:
      is_video: True
      video_autoplay: False
  - search
markdown_extensions:
  - sane_lists
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
theme:
  name: material
  palette:
    scheme: slate
    primary: pink
    accent: red
nav:
    - index.md
    - installation-and-setup.md
    - Targets:
        - Cars Mater-National Championship (PC):
            - "./games/mater-national/file-formats.md"
            - "./games/mater-national/basic-tools.md"
            - Useful Tables:
                - "./games/mater-national/car-names.md"
            - Guides:
                - "./games/mater-national/guides/animations.md"
                - "./games/mater-national/guides/audio.md"
                - "./games/mater-national/guides/models.md"
                - "./games/mater-national/guides/shaders.md"
                - "./games/mater-national/guides/textures.md"
        - Cars 2 The Video Game (PC/Arcade):
            - "./games/cars-2/ArcadeVWin32Wii.md"
            - "./games/cars-2/middleware.md"
            - "./games/cars-2/file-formats.md"
            - Guides:
                - "./games/cars-2/guides/arcade-essentials.md"
    - Plugin Development:
        - "./plugin-development/ghidra-setup.md"
        - "./plugin-development/cheat-engine-setup.md"
        - "./plugin-development/creating-a-pentane-plugin-cpp.md"
        - "./plugin-development/creating-a-pentane-plugin-rust.md"
        - "./plugin-development/function-hooking.md"
        - "./plugin-development/api-reference.md"
        - Walkthroughs:

            - "./plugin-development/walkthroughs/expanding-the-css-dialogue-list.md"

